## No considerar archivo credencial.txt
credenciales.txt

## No considerar carpeta prueba_local
prueba_local/

## No debe considerarse ningun TXT
*.txt
## Ni imagenes
*.jpg
*.png
*.gif
*.svg
## Ni binarios
*.exe
*.dll